@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$main-color : white;
$text-color : #303135;
$music-controler : #1D5C63;
$main-div-color : #DAE5D0;
$border-color : #E5E5E5;